   
        <!--
        ==================================================
        Slider Section Start
        ================================================== -->
        <section id="hero-area" >
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="block wow fadeInUp" data-wow-delay=".3s">
                            
                            <!-- Slider -->
                            <section class="cd-intro">
                                <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s" >
                                <span>The_Hacking_Project</span><br>
                                <span class="cd-words-wrapper">
                                    <b class="is-visible">GRATUIT</b>
                                    <b>OUVERT</b>
                                    <b>EXIGEANT</b>
                                </span>
                                </h1>
                                </section> <!-- cd-intro -->
                                <!-- /.slider -->
                                <h2 class="wow fadeInUp animated" data-wow-delay=".6s" >
                                    Viens apprendre les bases de la programmation informatique avec nous pendant 11 semaines.<br> Entrepreneur(e) ? Salarié(e) ? Chômeur/se ? Polytechnicien(ne) ? Manoeuvre ? Fonce !
                                </h2>
                                <%= link_to ("LE PROGRAMME"), cursus_path, class:"btn-lines dark light wow fadeInUp animated smooth-scroll btn btn-default btn-green"%>
                                <%= link_to ("S'INSCRIRE"), inscription_path, class:"btn-lines dark light wow fadeInUp animated smooth-scroll btn btn-default btn-green"%>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!--/#main-slider-->
            <!--
            ==================================================
            Slider Section Start
            ================================================== -->
            <section id="about">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                                <h2>
                                Pourquoi ? 
                                </h2>
                                <p>
                                    Au 16ème siècle, on se posait la question suivante : la population entière doit-elle savoir lire et écrire ? En 2017, cette question ne se pose plus. En 2050, tout le monde aura de solides bases en programmation informatique. Prends de l'avance et change de monde maintenant !
                                </p>
                                <p>
                                    Félix et Charles ont voulu créer pour toi un cursus où tu ne seras ni stagiaire ni élève. Ils ont créé un cursus pour que tu deviennes un(e) corsaire ! 
                                    <br>Que tu ne saches pas te servir de Google Chrome, ou que le compilateur n'ait aucun secret pour toi, rassure-toi, tu es le/la bienvenu(e).
                                </p>
                                <p>
                                    Lorsque tu sortiras de cette formation intensive, tu sauras : déveloper le site de ta startup, impressionner tes amis, coder des scripts pour automatiser tout ce que tu n'aimes pas faire.
                                    Techniquement, tu sauras te débrouiller avec : HTML/CSS, JavaScript, Ruby, Ruby on Rails, SQL.
                                </p>
                            </div>
                            
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
                                <%=link_to  image_tag('CDFG.jpg'), root_path%>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
            <!--

            ==================================================
            Portfolio Section Start
            ================================================== -->
            <section id="feature">
                <div class="container">
                    <div class="section-heading">
                        <h1 class="title wow fadeInDown" data-wow-delay=".3s">Top 6 des raisons d'apprendre à coder</h1>
                        <p class="wow fadeInDown" data-wow-delay=".5s">
                            Quelle est l'utilité d'apprendre à coder? Je suis un(e) bizdev/marketer, ce n'est pas pour moi... 
                            <br> Faux ! Apprendre à coder te permettra d'automatiser les tâches répétitives que tu réalises au quotidien. Apprendre à développer, c'est comprendre le monde dans lequel tu évolues !
                    </div>

                    <div class="row">
                        <div class="col-md-4 col-lg-4 col-xs-12">
                            <div class="media wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
                                <div class="media-left">
                                    <div class="icon">
                                        <i>1</i>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Mieux se vendre ?</h4>
                                    <p>Tu cherches à impressionner les recruteurs et faire la différence ? Apprends à coder !</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 col-xs-12">
                            <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="600ms">
                                <div class="media-left">
                                    <div class="icon">
                                        <i>2</i>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Tu es curieux/se ?</h4>
                                    <p>Fonce, The_Hacking_Project est ouvert à toutes et à tous. Si tu souhaites découvrir de nouveaux langages, c'est l'occasion idéale !</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 col-xs-12">
                            <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="900ms">
                                <div class="media-left">
                                    <div class="icon">
                                        <i>3</i>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Tu veux devenir dev ?</h4>
                                    <p>Avec beaucoup de travail, tu peux y arriver ! Nous te formons trois mois, puis nous te proposons des stages pour te perfectionner. Et si tu te révèles très doué(e) : nous te trouvons un travail à la sortie.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 col-xs-12">
                            <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="1200ms">
                                <div class="media-left">
                                    <div class="icon">
                                        <i>4</i>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Tu as une idée ?</h4>
                                    <p>Mets-la en pratique et développe ton MVP, pour être enfin capable de prouver que ton concept peut marcher !</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 col-xs-12">
                            <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="1500ms">
                                <div class="media-left">
                                    <div class="icon">
                                        <i>5</i>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Rails</h4>
                                    <p>Tu es dev mais tu ne connais pas Ruby on Rails ? Tu as la flemme d'apprendre en solo ? Viens !</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 col-xs-12">
                            <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="1800ms">
                                <div class="media-left">
                                    <div class="icon">
                                        <i>6</i>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Impressionner dans les dîners en ville !</h4>
                                    <p>Les gens seront fascinés par tes capacités. À toi la gloire, mais prépare-toi à l'avalanche de "Tu pourrais me donner un coup de main sur un site web/bot Facebook ?".</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section> <!-- /#feature -->
                            
            <!--
            ==================================================
            Call To Action Section Start
            ================================================== -->
            <section id="call-to-action">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="block">
                                <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">Tu veux apprendre à coder ?</h1>
                                <p class="wow fadeInDown" data-wow-delay=".5s" data-wow-duration="500ms">Alors fonce rejoindre le cursus qui révolutionne l'éducation !<br>Il n'y a pas de frein à l'entrée, si ce n'est ta volonté de travailler et de te dépasser.</p>
                                <%= link_to ("Découvre le cursus"), cursus_path, class:"btn btn-default btn-contact wow fadeInDown"%>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </section>